<a href="https://colab.research.google.com/github/241801505/Machine-Learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = [10,20,30,40,50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
a = [1,7,2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
gt=series > 25
print("Series>25=\n",gt)
series_filtered = series [series > 25]
print ("Filtered Series=\n",series_filtered)
series_multiplied = series * 2
print ("Series after Series Multiplication:\n",series_multiplied)

Series>25=
 0    False
1    False
2     True
3     True
4     True
dtype: bool
Filtered Series=
 2    30
3    40
4    50
dtype: int64
Series after Series Multiplication:
 0     20
1     40
2     60
3     80
4    100
dtype: int64

In [ ]:
import numpy as np
print ("series =\n",series)
series_sqrt = np.sqrt(series)
print ("\nSeries after applying Square Root;\n", series_sqrt)

series =
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Series after applying Square Root;
 0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

In [ ]:
import pandas as pd

data ={
    "calories":[420,380,390],
    "duration":[50,40,45],
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
data = {"State" : ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "Year" : [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6 ,2.4, 2.9, 3.2]}

Frame = pd.DataFrame(data)

print(Frame)

    State  Year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
frame = pd.DataFrame(data, columns=["Year", "State", "pop"])
print(frame)

   Year   State  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [ ]:
frame2 = pd.DataFrame(data, columns=["Year", "State", "pop", "debt"],
                      index=["one", "two", "three", "four", "five", "six"])
print(frame2)

       Year   State  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [ ]:
import pandas as pd

# The correct function name is pd.Series
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
print(obj)
obj2 = obj.reindex(["a", "b", "c", "d", "e"])
print(obj2)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [ ]:
obj3 = pd.Series(["blue", "purple", "yellow"], index=[0, 2, 4])
print(obj3)
obj4 = obj3.reindex(range(6), method="ffill")
print(obj4)

0      blue
2    purple
4    yellow
dtype: object
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
obj3 = pd.Series(["blue", "purple", "yellow"], index=[0, 2, 4])
print(obj3)
obj4 = obj3.reindex(range(6), method="ffill")
print(obj4)

obj5 = obj3.reindex (range(6), method="bfill")
print("\nMethod'bfill':")
print(obj5)

obj6 = obj3.reindex(range(6), fill_value='red')
print("\nFill value:")
print(obj6)

obj7 = pd.Series ([1,2,3], index =[0,2,5])
obj8 = obj7.reindex(range(7), method="ffill", limit=1)
print("\nLimit:")
print(obj8)

0      blue
2    purple
4    yellow
dtype: object
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Method'bfill':
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

Fill value:
0      blue
1       red
2    purple
3       red
4    yellow
5       red
dtype: object

Limit:
0    1.0
1    1.0
2    2.0
3    2.0
4    NaN
5    3.0
6    3.0
dtype: float64

In [ ]:
obj = pd.Series(np.arange(5.), index=["a", "b", "c", "d", "e"])
new_obj = obj.drop("c")
print(new_obj)
obj.drop(["d", "c"])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Dallas", "NJ", "New York"],
                    columns=["one", "two", "three", "four"])
print(data)

          one  two  three  four
Ohio        0    1      2     3
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15

In [ ]:
data.drop(["NJ", "New York"])

        one  two  three  four
Ohio      0    1      2     3
Dallas    4    5      6     7

In [ ]:
obj = pd.Series(np.arange(4.), index=["a", "b", "c", "d"])
print("obj['b']=\n",obj['b'])
print("obj[1]=\n",obj[1])
print("obj[2:4]=\n",obj[2:4])
print("obj[['b', 'a', 'd']]=\n",obj[['b', 'a', 'd']])
print("obj[b:d]=\n",obj["b":"d"])
print("obj[[1,3]]=\n",obj[[1,3]])
print("obj[obj < 2]=\n",obj[obj < 2])

obj['b']=
 1.0
obj[1]=
 1.0
obj[2:4]=
 c    2.0
d    3.0
dtype: float64
obj[['b', 'a', 'd']]=
 b    1.0
a    0.0
d    3.0
dtype: float64
obj[b:d]=
 b    1.0
c    2.0
d    3.0
dtype: float64
obj[[1,3]]=
 b    1.0
d    3.0
dtype: float64
obj[obj < 2]=
 a    0.0
b    1.0
dtype: float64

/tmp/ipython-input-3273683010.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[1]=\n",obj[1])
/tmp/ipython-input-3273683010.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[[1,3]]=\n",obj[[1,3]])

In [ ]:
index = ['Ohio', 'Dallas', 'Boston', 'NJ' ,'Austin','New York'],
columns=['one', 'two', 'three', 'four']

In [ ]:
data['two']

Ohio         1
Dallas       5
NJ           9
New York    13
Name: two, dtype: int64

In [ ]:
data[1:5]

          one  two  three  four
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15

In [ ]:
data.loc['Dallas', ['two', 'three']]

two      5
three    6
Name: Dallas, dtype: int64

In [ ]:
data.at['Dallas', 'one']

np.int64(4)

In [ ]:
data < 5
data[data < 5]= 0
data

          one  two  three  four
Ohio        0    0      0     0
Dallas      0    5      6     7
NJ          8    9     10    11
New York   12   13     14    15

In [ ]:
import pandas as pd
import numpy as np

# Original Series
obj = pd.Series([7, -5, 7, 3, 2, 0, 4])

# Default rank (method='average')
df_rank = obj.rank()
print("Rank\n", df_rank)

# Rank with method='first'
df_rank_method_first = obj.rank(method='first')
print("\nrank-Method=first\n", df_rank_method_first)

# Rank with ascending=False and method='max'
df_rank_ascending = obj.rank(ascending=False, method='max')
print("\nRank-Ascending\n", df_rank_ascending)

# Original DataFrame
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
print("\nDataFrame\n", frame)

# Rank over columns
df_rank_dataframe = frame.rank(axis='columns')
print("\nRank over columns\n", df_rank_dataframe)

Rank
 0    6.5
1    1.0
2    6.5
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

rank-Method=first
 0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

Rank-Ascending
 0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    3.0
dtype: float64

DataFrame
      b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

Rank over columns
      b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0